@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition {
    @apply transition-all duration-300;
  }
}

::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #7d7d7d;
}

.revenueList::-webkit-scrollbar{
	width: 5px;
	background-color: transparent;
}
